sda-general-event-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: start;
    color: white;
    padding: 30px 50px;
    gap: 10px;
    flex: 0.25;
    background-color: var(--deep-dark);
    border-radius: 20px;
    overflow-y: auto;
    margin: 5px;
}