.gantt-flag {
    font-size: 16px;
    padding: 0 3px;
    margin-top: 7px;
    border-radius:3px;
    cursor: pointer;
    transition: 0.2s;
}

.table-message-box {
    position: fixed;
    top: 15px;
    width: 200px;
    left: 0;
    z-index: 99;
}

.flag-message {
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.flag-holder {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -5px;
    left: 10px;
    max-width: 30%;
    height: 100%;
}

.conflict {
    color: var(--error);
    text-shadow: var(--error) 1px 0 4px;
}

.conflict-background {
    background: var(--error);
}

.conflict:hover {
    background-color: var(--error-light);
}

.warning {
    color: var(--warn);
    text-shadow: var(--warn) 1px 0 4px;
}

.warning:hover {
    background-color: var(--warn-light);
}

.warning-background {
    background: var(--warn);
}
