.editor-form {
    text-align: center;
    margin: 10px 10%;
    border-radius: 20px;
    border: 1px solid black;
    display: grid;
    overflow: hidden;
    background-color: black;
}

.form-space-between {
    visibility: hidden;
    height: 1px;
}

.form-field {
    width: 100%;
    padding: 0;
    float: bottom;
}

.name-field {
    float: left;
}

.form-label {
    text-transform: capitalize;
    padding: 8px;
    margin: 0;
    width: 25%;
    float: left;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.display-box {
    background-color: #DDE0E4;
    color: #2D3239;
    padding: 8px;
    margin: 0;
    width: 75%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.selection-field {
    background-color: white;
    padding: 8px;
    margin: 0;
    border: none;
    text-align: center;
    width: 75%;
    float: left;
    min-height: 100%;
}
.selection-field:hover {
    background-color: var(--mint-light);
}
.selection-field:invalid {
    background-color: var(--error-light);
}

.title-field {
    float: left;
    background-color: white;
    padding: 8px;
    margin: 0;
    border: none;
    text-align: center;
    width: 75%;
}
.title-field:hover {
    background-color: var(--mint-light);
}
.title-field:invalid {
    background-color: var(--error-light);
}
