main-sda-gantt-container {
    position: absolute;
    min-height: 100%;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gantt-table-container {
    user-select: none;
    padding: 0;
    overflow-x: scroll;
    overflow-y: auto;
}

.gantt-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    overflow: clip;
}

.gantt-table-container::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.gantt-table-container::-webkit-scrollbar-track {
    background: #EBF1FF;
}

.gantt-table-container::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 1px solid #EBF1FF;
}

.gantt-table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-light);
}

.gantt-table-container::-webkit-scrollbar-corner {
    background: var(--primary);
    border: 1px solid #EBF1FF;
}