.gantt-titles {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 5px;
    user-select: none;
    max-width: 100%;
    cursor: pointer;
}

.gantt-titles:hover .gantt-titles-text::before {
    content: "[=]";
    left: -50px;
    color: var(--smoke-light);
    position: absolute;
}

.gantt-titles-text {
    position: sticky;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.new-row-mirage {
    position: absolute;
    top: -5px;
    right: -50px;
    background-color: var(--mint-light);
    color: var(--mint-dark);
    height: 20px;
    user-select: none;
    cursor: pointer;
    padding: 0 10px;
    animation: bounce-down 0.4s ease;
    font-size: 10px;
    font-weight: bold;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--mint);
    transition: 0.4s;
    margin: 2px;
    z-index: 2;
}

.new-row-mirage:hover {
    background-color: var(--mint);
}

.mirage-text {
    position: sticky;
    left: 20px;
}