sda-general-maintenance-event-panel {
    display: grid;
    text-align: center;
    align-content: start;
    color: white;
    padding: 30px;
    gap: 10px;
    flex: 0.25;
    grid-template-columns: 1fr 1fr;
    background-color: var(--deep-dark);
    border-radius: 20px;
    overflow-y: auto;
    margin: 5px;
}