input[is=sda-gantt-date-range-picker] {
    height: 100%;
    color: white;
    background: var(--rasin-black);
    font-weight: bold;
    font-size: 40px;
    padding: 0 30px;
    border: none;
}

input[is=sda-gantt-date-range-picker]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}