sda-gantt-event-list {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: clip;
}

sda-gantt-event-list::-moz-viewport-scroll {
    display: none;
}

sda-gantt-event-list::-webkit-scrollbar {
    width: 5px;
}