td[is=sda-gantt-cell] {
    position: relative;
    border: solid 1px var(--smoke-light);
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    max-width: 100px;
}

.today {
    background-color: var(--editor-panel-button-hover);
}

.this-week {
    background-color: var(--editor-panel-color);
}

.add-event-filter {
    background-color: var(--mint-light);
    color: var(--mint-dark);
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 0;
    width: 30px;
    height: 20px;
    right: 0;
    border-radius: 25%;
    user-select: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid var(--mint);
    transition: 0.4s;
    margin: 2px;
    z-index: 2;
    opacity: 20%;
    animation: bounce-down 0.4s ease;
}

.add-event-filter:hover {
    background-color: var(--mint);
    opacity: 1;
}